
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Joole Store</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="login">
        <div class="login__signup">
            <a link="" class="login__signup-link">Sign Up</a>
        </div>
        <div class="login__container">
            <img src="~/Images/joole Logo.png" />
            <h4 class="login__subtitle">Building Product Selection Platform</h4>
            <form class="login__form">
                <input class="login__textinput" type="text" />
                <input class="login__textinput" type="text" />
                <input class="login__submit" type="submit" />
            </form>
        </div>
    </div>
</body>
</html>
