html {
}

table {
}

tr {
    height: 30px;
}

td {
}

.compareProduct {
}

.compareProduct_container {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Calibri;
}

.compareProduct_dirContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 30px;
}

.compareProduct_directory {
    align-content: flex-start;
    left: 100px;
    position: absolute;
    color: darkblue;
}
.compareProduct_table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}
.compareProduct_table_image {
    height: 200px;
    border: solid 1px;
    border-color: lightgrey;
    text-align: center;
    width: 300px;
}
.compareProduct_table_bigLabel {
    background-color: lightgrey;
    width: 300px;
    border: solid 1px;
    border-color: lightgrey;
    font-weight: bold;
}

.compareProduct_table_smallLabel {
    background-color: lightgrey;
    width: 300px;
    border: solid 1px;
    border-color: lightgrey;
    font-weight: bold;
}

.compareProduct_smallRow {
    border: solid 1px;
    border-color: lightgrey;

}

.compareProduct_table_data {
    background-color: white;
    width: 300px;
    border: solid 1px;
    border-color: lightgrey;
    text-align: center;
}

.compareProduct_smallerTable {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

.compareProduct_table_smallerLabel {
    background-color: lightgrey;
    width: 50px;
    font-weight: bold;
}

.compareProduct_table_smallerData {
    background-color: white;
    text-align: center;
}