/* Needed for 100vw to refer to viewport excluding scrollbar*/
html {
    overflow-y: hidden;
}

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, rgba(2,0,36,1), 0%, rgba(255,255,255,1) 0%, rgba(0,73,134,1) 100%);
}

.login__signup{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.login__signup-link {
    font-size: 20px;
    color: black;
    margin: 5px 80px 0px 0px;
}

.login__signup-link:hover {
    color: grey;
    cursor: pointer;
}

.login__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.login__subtitle{
    font-size: 22px;
    margin-bottom: 10px;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login__input-container{
    margin-left: 15px;
}

.login__textinput {
    width: 400px;
    max-width: 400px;
    height: 35px;

    margin: 5px 0px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.login__submit {
    width: 100px;
    height: 35px;
    background-color: #1170ab;
    color: white;
    margin-top: 20px;
    margin-bottom: 140px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

.login__icon{
    position:relative;
    left: -30px;
}

.login__submit:hover {
    background-color: #0d5582;
}

.modal__image-container{
    margin-left: 222px;
    padding-bottom: 20px;
}

.modal__profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.modal__form-container{
    display: flex;
    flex-direction: row;
}

.modal__error-container {
    margin-left: 10px;
}

.modal__error-msg{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
}

.modal__form{
    display: flex;
    flex-direction: column;
    width: 420px;
}

.modal__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__textinput {
    margin: 1px 0px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    height: 35px;
}

.modal__title{
    font-size: 20px;
}

.modal__text {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
}