@model IEnumerable<JooleStoreApp.Models.Product>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/JooleStyles/SearchResult.css" rel="stylesheet" />
<h4>Category>Subcategory</h4>
<br />
<div class="row">
    @foreach (var item in Model)
    {
    <div class="column">
        <div class="card">
            <img src="@Html.DisplayFor(modelItem => item.ProductImage)" style="width:100%" alt="...">
            <div class="container">
                <p class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</p>
                <p class="card-title">@Html.DisplayFor(modelItem => item.Series)</p>
                <p class="card-title">@Html.DisplayFor(modelItem => item.Model)</p>
                <p class="card-text"> 35 DBA At max speed</p>
                <p class="card-text"> 60" fan sweep diamter</p>
                <p class="card-text"> 120W Power Rating</p>
                <input type="checkbox" id=@Html.DisplayFor(modelItem => item.ProductId) name=@Html.DisplayFor(modelItem => item.ProductId) value=@Html.DisplayFor(modelItem => item.ProductName)>
                <label for=@Html.DisplayFor(modelItem => item.ProductId)> Compare</label><br>
            </div>
        </div>
    </div>
    }
</div>
<br />
<button class="btn-primary">Compare</button>
