
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Result</h2>
<div class="container">
    <div class="product-box">
        <img src=""/>
        <h3> Product Title</h3>
        <h4>Hello there</h4>
        <h4>Attribute no 2</h4>
    </div>
</div>

