
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@* this works when passing "prodId = {number}" *@
@*@using (Html.BeginForm("GetProductSummary", "ProductSummary", new { prodId = 3}, FormMethod.Post))
    {
        <input type="submit"
               value="search" />
    }*@

<button onclick="window.location='@Url.Action("GetProductSummary", "ProductSummary")' + '/?prodId=3'">Search</button>
