
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compare Product</h2>

<body>
    <div class="compare">
        <div class="compareProduct_container">
            <table>
                <tr>
                    <th></th>
                    <th>ImageLink 1</th>
                    <th>ImageLink 2</th>
                </tr>
                <tr>
                    <td>DESCRIPTION</td>
                </tr>
                <tr>
                    <td>Manufacturer</td>
                    <td>Item1 Name</td>
                    <td>Item2 Name</td>
                </tr>
                <tr>
                    <td>Series</td>
                    <td>Item1 Series</td>
                    <td>Item2 Series</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>Item1 Model</td>
                    <td>Item2 Model</td>
                </tr>
                <tr>
                    <td>TYPE</td>
                </tr>
                <tr>
                    <td>Use Type</td>
                    <td>Item1 Use Type</td>
                    <td>Item2 Use Type</td>
                </tr>
                <tr>
                    <td>Application</td>
                    <td>Item1 Application</td>
                    <td>Item2 Application</td>
                </tr>
                <tr>
                    <td>Mounting Location</td>
                    <td>Item1 Mounting Location</td>
                    <td>Item2 Mounting Location</td>
                </tr>
                <tr>
                    <td>Accessories</td>
                    <td>Item1 Accessories</td>
                    <td>Item2 Accessories</td>
                </tr>
                <tr>
                    <td>Model Year</td>
                    <td>Item1 Model Year</td>
                    <td>Item2 Model Year</td>
                </tr>
                <tr>
                    <td>TECHNICAL SPECIFICATIONS</td>
                </tr>
            </table>
        </div>
    </div>
</body>